<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New programmer</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Add new programmer</h1>
            <hr/>
            <form th:action="@{/programmers/add}" method="post" th:object="${programmer}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" class="form-control" th:field="*{name}"/>
                </div>

                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input id="surname" type="text" class="form-control" th:field="*{surname}"/>
                </div>

                <div class="form-group">
                    <label for="age">Age</label>
                    <input id="age" type="text" class="form-control" th:field="*{age}"/>
                </div>

                <div class="form-group">
                    <label for="salary">Salary</label>
                    <input id="salary" type="text" class="form-control" th:field="*{salary}"/>
                </div>

                <div class="form-group">
                    <label for="hireDate">Hire date</label>
                    <input id="hireDate" type="date" class="form-control" th:field="*{salary}"/>
                </div>

                <div class="form-group">
                    <label for="gender">Gender</label>
                    <ul id="gender" class="list-inline">
                        <li th:each="g : ${genders}" class="list-inline-item">
                            <input type="radio" th:field="*{gender}" th:value="${g}" class="mr-2"/>
                            <label th:text="${g}" class="mr-4"></label>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="skills">Skills</label>
                    <ul id="skills" class="list-inline">
                        <!-- $ odnosi sie do modelu -->
                        <li th:each="s : ${skills}" class="list-inline-item">
                            <!-- * odnosi sie do pola obiektu osadzonego wyzej w th:object -->
                            <input type="checkbox" th:field="*{skills}" th:value="${s}" class="mr-2"/>
                            <label th:text="${s}" class="mr-4"></label>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="experience">Experience</label>
                    <select id="experience" th:field="*{experience}">
                        <option th:each="e : ${experiences}" th:value="${e}" th:text="${e}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="file">File</label>
                    <input id="file" type="file" class="form-control" th:field="*{multipartFile}"/>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit">Add programmer</button>
                    <button class="btn btn-outline-danger" type="reset">Clear fields</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>